/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: block;
  border: transparent;
  border-radius: 8px;
  padding: 8px 16px;

  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

.search-input {
  flex: 1;
  margin-right: 8px;
  padding: 8px 16px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 8px;
  max-width: 272px;

  color: rgba(46, 47, 66, 1);
  font-family: inherit;
  outline: none;
}

.search-input:hover,
.search-input:focus {
  border: 1px solid rgba(0, 0, 0, 1);
}

input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: currentColor;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc((100% - (24px*2))/3));
  gap: 24px;
}

.gallery-item {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 5px;
}

.info {
  display: flex;
  gap: 28px;
  padding: 10px;
}

.load-more-button {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

